{% extends 'myapp/base.html' %}

{% block content %}
<div class="form-container">
    <h2>Reset Password Anda</h2>
    <p>Masukkan alamat email Anda yang terdaftar. Kami akan mengirimkan instruksi untuk mengatur password baru.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add-book-btn">Kirim Email Reset</button>
    </form>
    <div class="form-links">
        <a href="{% url 'login' %}">Kembali ke Login</a>
    </div>
</div>
{% endblock content %}